.holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item{
    width: 120px;
    height: 120px;
    background: red;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;   /* prevents squashing */
}










/* Your CSS Code here. */